
.titulo{
	margin-top: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight:bold;
	color: #00366C;
}

.login {
	top: -93px;
	float:right;
	margin-right:10px;
	position:relative;
}

.imgp {
	margin-left:100px;
	margin-top:20px;
}

.register {
	float:right;
	margin-right:10px;   
}

.body {
	width:1240px;
	height:1240px;
	background-color:white;
	margin-right:auto;
	margin-left:auto;
	border-radius:15px;
}

.Registrar{   
	width: 432px;
	height: 185px;
	top: 80px;
	left: 290px;
	position: relative;
    margin-bottom: 0px;
}

.lblRegistrar{
	margin-right: 5px;
	font-size: 15px;
	font-weight:bold;
}

.titulo{
	margin-top: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight:bold;
	color: #00366C;
}

.error{
	color: #B90000;
	font-weight:bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
}

.imgError
{
	position: relative;
	top: 5px;
	float: left;
}

.Link
{
	color: #0033FF;
	text-decoration: none;
}

	.Link:hover
	{
		color: #4A9586;
	}
